<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AcercadeServlet</servlet-name>
        <servlet-class>AcercadeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BolsaServlet</servlet-name>
        <servlet-class>BolsaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaServlet</servlet-name>
        <servlet-class>CuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabiosServlet</servlet-name>
        <servlet-class>LabiosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OjosServlet</servlet-name>
        <servlet-class>OjosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoServlet</servlet-name>
        <servlet-class>PromoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RostroServlet</servlet-name>
        <servlet-class>RostroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcercadeServlet</servlet-name>
        <url-pattern>/AcercadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BolsaServlet</servlet-name>
        <url-pattern>/BolsaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaServlet</servlet-name>
        <url-pattern>/CuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabiosServlet</servlet-name>
        <url-pattern>/LabiosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OjosServlet</servlet-name>
        <url-pattern>/OjosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoServlet</servlet-name>
        <url-pattern>/PromoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RostroServlet</servlet-name>
        <url-pattern>/RostroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
